/*
Ben Forshey
DWP Online
12 Feb 2015
Simple Form
*/

/* @import "modules/fonts.scss"; */
@import "vendor/normalize.scss";
@import "modules/utility.scss";
@import "partials/_font-switching.scss";
@import "partials/_buttons.scss";

html {
    background: #FFF7EB;
    box-sizing: border-box;
    font: 400 1em / 1.6 "Josefin Sans", sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1em;
}



// perfect fourth @ 1:1.33
h1,
h2,
h3,
h4 {
    font: 700 3.157em / 1.5 "Josefin Slab", serif;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

header {
    border-bottom: 4px dotted #8F0F4D;
    box-shadow: inset 0 -1px 0 0 black, 0 1px 0 0 black;
    margin-bottom: 1em;
}

form {
    background: #FFFEFC;
    border: 2px solid #50636E;
    border-radius: 2px;
    margin: 0 auto 2em auto;
    max-width: 32em;
    padding: .25em 0;
}

.form-block {
    padding: .5em 1em;
    width: 100%;
}

input:not([type="radio"]) {
    border: 1px solid #50636E;
    border-radius: 2px;
    display: block;
    padding: .25em;
    width: 80%;

    &:focus, &:active {
        border: 1px solid #FF9249;
        outline: none;
    }
}

textarea {
    @extend input:not([type="radio"]);
    height: 8em;
}

.helper-text {
    clear: both;
    display: block;
    font-size: .75em;
    width: 100%;
}

.results-container {
    @extend form;
    @extend .form-block;
}

.results-container > p {
    border-bottom: 1px dotted #50636E;
}

.results-container > p:first-of-type {
    border-bottom: 2px dashed #50636E;
}

.sent-message-container {
    background: #FFF7EB;
    border: 2px dashed #8F0F4D;
    padding: .5em 1em;
}

// 400px @ 16
@media screen and (min-width: 25em){
    html {
        font: 400 1.125em / 1.6 "Josefin Sans", sans-serif;
    }
}

// 716px @16
@media screen and (min-width: 44.75em){
    html {
        font: 400 1.25em / 1.6 "Josefin Sans", sans-serif;
    }
}
