<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{>loadCSS}}
    {{>favicon}}
</head>
<body>
<header role="banner">
    <div class="header_logoContainer">
        <svg class="logoContainer_logo" width="100%" height="100%" viewBox="0 0 59 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M55.885,23.65c-2.052,11.307 -1.854,22.075 0,32.446l-3.57,3.471c-14.101,-1.915 -29.62,-1.875 -46.469,0l-3.574,-3.475c1.917,-10.826 1.97,-21.639 0,-32.438l26.806,-21.313l26.807,21.309Z" style="fill:#fffbf3;stroke-width:2.5px;stroke:#fffbf3;"/></svg>
    </div>
    <h1 class="header_pageTitle">Email Recovery</h1>
</header>
<main role="main">
    <div class="form_businessPortal">
        <div class="form_centeringDiv">
            <h2>Contact Customer Support</h2>
            <p>Please email <a href="mailto:support@inspection.tech">support@inspection.tech</a> to recover your account email address.</p>
            <p><a class="form_formNav" href="/portal">Go Back to Login</a></p>
        </div>
    </div>
</main>
</body>
</html>

