nav {
  //float: right;
}

nav > a {
  color: #FFFFEE;
  display: inline-block;
  float: right;
  margin: .5em 0 .5em 1em;
  padding: .125em;
}

.incrementalNav.link {
  color: #333;
  font-size: 1.333em;
  text-decoration: none;
}

.incrementalNav:focus {
  outline: 3px solid #33B5FF;
}

.incrementalNavContainer.prev, .incrementalNavContainer.next {
  border-bottom: 6px double #333;
  display: inline-block;
  float: left;
  position: relative;
  transition: border .2s, transform .2s;
}

.incrementalNavContainer.next {
  float: right;
}

.incrementalNavContainer:hover, .incrementalNavContainer:active, .incrementalNavContainer:focus {
  border-bottom: 6px double #33B5FF;
  outline: none;
  transform: scale3d(1.02, 1.02,1);
}

.accordionController.link {
  background: none;
}

.toTop {
  color: #33B5FF;
  float: right;
}

.questionList > a {
  color: #33B5FF;
  display: inline-block;
  height: 3em;
  margin: .25em;
  padding-top: .75em;
  text-align: center;
  width: 4em;
}

nav > a:hover, .questionList > a:hover, .toTop:hover, nav > a:active, .questionList > a:active, nav > a:focus, .questionList > a:focus, .toTop:active, .toTop:focus {
  outline: 3px solid #FFFFEE;
}

.questionList > a:visited, .toTop:visited {
  color: #33B5FF;
}