.is-font-1 {
    font-family: "Source Sans Pro", sans-serif;
}

.is-font-2 {
    font-family: "Josefin Sans", sans-serif;
}

.is-font-3 {
    font-family: "Raleway", sans-serif;
}

.is-font-4 {
    font-family: "Arvo", serif;
}

.is-font-5 {
    font-family: "Josefin Slab", serif;
}

.is-font-6 {
    font-family: "Merriweather", serif;
}
